:root {
  --black50: #f2f2f2;
  --black100: #e5e5e5;
  --black500: #808080;
  --black700: #4d4d4d;
  --gray600: #6b7280;
  --gray900: #101828;
  --radius-medium: 6px;
  --system-blue: #007aff;
  --system-blue-hover: #0056b3;
  --system-warning: #ff9900;
  --system-warning-hover: #ff7f00;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100dvh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
